<% totalStats(client) %>
<p>Łączna wartość zamówień od początku:
   <%= @totalOrderSum %> zł
</p>
<p>Średnia wartość zamówienia:
  <%= @avg %> zł
</p>
<p>Wydano w tym miesiącu:
  <%= @spendThisMonth %> zł
</p>

<%= column_chart client.orders.group_by_month(:created_at, last: 12, format: '%b %Y').count, title: 'Ilość zamówień', discrete: false %>

<p>
</p>
<div class="row">
  <div class="col-md-6">
    <% client.orders.includes(:items) %>
    <%= pie_chart client.items.group(:product_id).count, title: 'Stosunek zamawianych produktów' %>
  </div>
  <div class="col-md-6">
    <p>Legenda</p>
    <% orderedProducts(client) %>
    <% @orderedProductsAll.uniq.each do |product| %>
      <div class="row">
        <div class="col-md-2">
          <%= Product.find(product).id %>
        </div>
        <div class="col-md-10">
          <%= Product.find(product).content %>
        </div>
      </div>
    <% end %>
  </div>
</div>
