<p id="notice"><%= notice %></p>
<div class="order-new">
  <div class="col-12">
    <div class="row">
      <div class="col-sm-2">
        Data
      </div>
      <div class="col-sm-2">
        <%= 4.days.ago.strftime("%d %m") %>
      </div>
      <div class="col-sm-2">
        <%= 3.days.ago.strftime("%d %m") %>
      </div>
      <div class="col-sm-2">
        <%= 2.days.ago.strftime("%d %m") %>
      </div>
      <div class="col-sm-2">
        <%= Date.yesterday.strftime("%d %m") %>
      </div>
      <div class="col-sm-2" style="color:#228B22;">
        <b><%= Date.today.strftime("%d %m") %></b>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        Utarg
      </div>
      <div class="col-sm-2">
        <% dailyIncome(4.days.ago.strftime("%d %m")) %>
        <%= @earnedToday %> zł
      </div>
      <div class="col-sm-2">
        <% dailyIncome(3.days.ago.strftime("%d %m")) %>
        <%= @earnedToday %> zł
      </div>
      <div class="col-sm-2">
        <% dailyIncome(2.days.ago.strftime("%d %m")) %>
        <%= @earnedToday %> zł
      </div>
      <div class="col-sm-2">
        <% dailyIncome(Date.yesterday.strftime("%d %m")) %>
        <%= @earnedToday %> zł
      </div>
      <div class="col-sm-2" style="color:#228B22;">
        <% dailyIncome(Date.today.strftime("%d %m")) %>
        <b><%= @earnedToday %> zł</b>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        Straty/Zwroty
      </div>
      <div class="col-sm-2">
        <% dailyIncome(4.days.ago.strftime("%d %m")) %>
        <%= @lostToday %> zł
      </div>
      <div class="col-sm-2">
        <% dailyIncome(3.days.ago.strftime("%d %m")) %>
        <%= @lostToday %> zł
      </div>
      <div class="col-sm-2">
        <% dailyIncome(2.days.ago.strftime("%d %m")) %>
        <%= @lostToday %> zł
      </div>
      <div class="col-sm-2">
        <% dailyIncome(Date.yesterday.strftime("%d %m")) %>
        <%= @lostToday %> zł
      </div>
      <div class="col-sm-2" style="color:#228B22;">
        <% dailyIncome(Date.today.strftime("%d %m")) %>
        <b><%= @lostToday %> zł</b>
      </div>
    </div>
  </div>

  <%= column_chart Order.where('total > ?', 0).group_by_day(:created_at, time_zone: "Warsaw", last: 5).count, title: 'Ilość zamówień z ostatnich 5 dni' %>
  <%= column_chart Order.where('total < ?', 0).group_by_day(:created_at, time_zone: "Warsaw", last: 5).count, title: 'Ilość zwrotów z ostatnich 5 dni' %>
  <div class="order-title">
    Lista wszystkich zamówień
  </div>

  <%= render 'orders/partials/orders_list_title', mode: "all" %>

  <!-- table search fields for faster searching purposes -->
  <%# <%= render 'orders/partials/orders_list_search' %>
  <% number = 0 %>
  <% @orders.each do |order| %>
    <div class="row border-bottom2 orders-list-sections background-<%=(number = number + 1)%2 %>">
    <div class="col-md-1 orders-checkboxes">
        <% if order.payment.to_s.include?('O') %>O<% else %>-<% end %>
        <% if order.payment.to_s.include?('Z') %>Z<% else %>-<% end %>
        <% if order.payment.to_s.include?('F') %>F<% else %>-<% end %>
        <% if order.payment.to_s.include?('P') %>P<% else %>-<% end %>
    </div>
    <div class="col-md-1 orders-date"><%= order.created_at.strftime("%d-%m-%Y") %></div>
    <div class="col-md-1 orders-client">
      <% @current_client = Client.find(order.client_id) %>
      <% if @current_client.client_name.present? %>
        <%= @current_client.client_name %>
      <% end %>
      <% if @current_client.company_name.present? && @current_client.client_name.blank? %>
        <%= @current_client.company_name %>
      <% end %>
    </div>
    <div class="col-md-1 orders-total"><%= order.total %></div>
    <div class="col-md-2 orders-delivery"><%= order.delivery %></div>
    <div class="col-md-4 orders-products">
      <% if order.items.length > 0 %>
        <% order.items.each do |o| %>
          <% current_product = Product.find(o.product_id) %>
          <span style="font-style: italic; font-weight:600;">Nazwa produktu: </span><%= current_product.name %><br />
          <% if current_product.product_kind == "włosy" %>
            <% if current_product.length != nil %>
              <span style="font-style: italic; font-weight:600;">Długość: </span><%= current_product.length %><br />
            <% end %>
            <% if current_product.structure != "" %>
              <span style="font-style: italic; font-weight:600;">Struktura: </span><%= current_product.structure %><br />
            <% end %>
            <% if current_product.color != "" %>
              <span style="font-style: italic; font-weight:600;">Kolor: </span><%= current_product.color %><br />
            <% end %>
          <% else %>
            <span style="font-style: italic; font-weight:600;">Opis: </span><%= current_product.content %><br />
          <% end %>
          <span style="font-style: italic; font-weight:600;">Ilość: </span><%= o.ordered_product_quantity %><br /><br />
        <% end %>
      </div>
      <div class="col-md-2 orders-notes">
        <%= order.notes %><br />
        <p></p>
        <% selling_user = User.find(order.user_id) %>
        Dodający zamówienie: <br /><%= selling_user.name %>
      </div>
      </div>
      <% end %>
  <% end %>

  <%= will_paginate @orders %>

</div>
