<p id="notice"><%= notice %></p>
<div class="order-new">
  <div class="order-title">
    Stwórz nowe zamówienie detaliczne
  </div>

  <%= render 'orders/partials/orders_list_title', mode: "new" %>
  <%= form_for @order do |form| %>
    <div class="row orders-list-sections orders-title">
      <div class="col-md-1 orders-checkboxes">
          <%= check_box_tag 'order[payment][]', "O" %>
          <%= check_box_tag 'order[payment][]', "Z" %>
          <%= check_box_tag 'order[payment][]', "F" %>
          <%= check_box_tag 'order[payment][]', "P" %>
      </div>
      <div class="col-md-2 orders-client">
        <% if @current_client.client_name.present? %>
          <%= @current_client.client_name %><br /><br />
        <% end %>
        <% if @current_client.company_name.present? %>
          <%= @current_client.company_name %><br />
        <% end %>
        <%= form.hidden_field :client_id, value: @current_client.id %>
      </div>
      <div class="col-md-1 orders-total">
        <%= form.number_field :total, step: "0.01", style: "width: 100%;" %>
      </div>
      <div class="col-md-1 orders-delivery">
        <%= form.text_field :delivery %>
      </div>
      <div class="col-md-5 orders-products">
        <div style="display:flex">
          <div class="col-md-9">Produkt:</div>
          <div class="col-md-2">Ilość:</div>
          <div class="col-md-1"></div>
        </div>
        <%= form.fields_for :items do |i| %>
          <div style="display:flex">
            <div class="col-md-9">
              <%# <%= i.collection_select(:product_id, Product.all.order('content ASC'), :id, :content, {include_blank: true}, {class: "order-items-attributes"} ) %>
              <%= i.collection_select(:product_id, @products, :id, :content, {include_blank: true}, {class: "order-items-attributes"} ) %>
            </div>
            <div class="col-md-2">
              <%= i.number_field :ordered_product_quantity, step: "1", class: "order-items-attributes" %>
            </div>
            <div class="col-md-1">
              <%= i.hidden_field :_destroy, as: :hidden %>

            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-2 orders-notes">
        <%= form.text_field :notes %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>
    </div>

    <div class="actions text-center">
      <span>
        <%= form.submit 'Zapisz', class:"btn btn-primary" %>
        <%# <%= link_to_add_row('+', form, :items, class: 'btn btn-primary') %>
      </span>
    </div>
  <% end %>

  <div class="footer">
    <%= link_to 'Anuluj', sprzedaz_detaliczna_url, class:"btn btn-success" %>
  </div>
</div>
