<% @client.orders.each do |order| %>
  <div class="row border-bottom2 orders-list-sections">
  <div class="col-md-1 orders-checkboxes">
    <% if order.payment.to_s.include?('O') %>O<% else %>-<% end %>
    <% if order.payment.to_s.include?('Z') %>Z<% else %>-<% end %>
    <% if order.payment.to_s.include?('F') %>F<% else %>-<% end %>
    <% if order.payment.to_s.include?('P') %>P<% else %>-<% end %>
  </div>
  <div class="col-md-1 orders-date"><%= order.created_at.strftime("%d-%m-%Y") %></div>
  <div class="col-md-1 orders-total"><%= order.total %></div>
  <div class="col-md-2 orders-delivery"><%= order.delivery %></div>
  <div class="col-md-4 orders-products">
    <% order.items.each do |o| %>
      <% current_product = Product.find(o.product_id) %>
      <span style="font-style: italic; font-weight:600;">Nazwa produktu: </span><%= current_product.name %><br />
      <% if current_product.product_kind == "włosy" %>
        <% if current_product.length != nil %>
          <span style="font-style: italic; font-weight:600;">Długość: </span><%= current_product.length %><br />
        <% end %>
        <% if current_product.structure != "" %>
          <span style="font-style: italic; font-weight:600;">Struktura: </span><%= current_product.structure %><br />
        <% end %>
        <% if current_product.color != "" %>
          <span style="font-style: italic; font-weight:600;">Kolor: </span><%= current_product.color %><br />
        <% end %>
        <% if current_product.product_index != "" %>
          <span style="font-style: italic; font-weight:600;">Index: </span><%= current_product.products_index %><br />
        <% end %>
      <% else %>
        <span style="font-style: italic; font-weight:600;">Opis: </span><%= current_product.content %><br />
      <% end %>
      <span style="font-style: italic; font-weight:600;">Ilość: </span><%= o.ordered_product_quantity %><br />
    <% end %>
  </div>
  <div class="col-md-2 orders-notes">
    <%= order.notes %><br />
    <% selling_user = User.find(order.user_id) %>
    Utworzone przez:<br /><%= selling_user.name %>
  </div>
  <div class="col-md-1 orders-actions">
    <% if current_user.admin? %>
      <%= link_to '', order, class: "fa fa-trash-alt", method: :delete, data: { confirm: 'Czy na pewno usunąć?' }, title: "Usuń" %><br />
    <% end %>
  </div>
  </div>
<% end %>
<%= will_paginate @client.orders.paginate(:page => params[:page], :per_page => 25) %>
