<div class="col-12 text-center">
  <h1><%= title %></h1>
</div>


<!-- render icons like add new client -->
<!-- clear searching results -->
<%= render 'clients/partials/clients_action_icons' %>

<!-- table search fields for faster searching purposes -->
<%= render 'clients/partials/clients_list_search' %>

<!-- table titles for easier viewing purposes -->
<%= render 'clients/partials/clients_list_title' %>


<%= render 'clients/partials/clients_list' %>
